<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= dirname %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./index.css">
  </head>  
  <body>
    <h1><%= dirname %></h1> 
    <ul>
      <% for (const path of paths) { %>
        <li><a href="<%= path %>/index.html"><%= path %></a></li>
      <% } %>
    </ul>
  </body>
</html>
